.breadcrumps {
  display: flex;
  justify-content: flex-start;

  margin-top: 62px;
  padding-left: 0;

  color: #69a54d;

  list-style-type: none;
}

.breadcrumps a {
  color: #69a54d;
  text-decoration: none;
}

.breadcrumps__item {
  margin-left: 4px;
  margin-right: 4px;
}

.breadcrumps__item--active a {
  color: #cacaca;
}

.breadcrumps__item--arrow {
  color: #cacaca;
}
