.catalog-item {
  display: flex;

  padding-top: 31px;
  padding-left: 28px;
  padding-bottom: 34px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  border: 1px solid #e4e4e4;
}

.catalog-item img {
  margin-right: 30px;
}

.catalog-item__description a {
  display: inline-block;

  margin-top: 37px;
  padding: 10px 45px;

  color: #ffffff;

  background-color: #7f9d64;
  text-decoration: none;
}
