.contacts {
  display: block;
  padding-top: 75px;
  padding-bottom: 102px;

  text-align: center;

  color: #ffffff;

  background-color: #7f9d64;
}

.contacts h2 {
  margin-bottom: 52px;

  font-size: 40px;
}

.contacts input {
  width: 29%;
  margin-bottom: 30px;
  margin-right: 30px;
}

.contacts input:last-child {
  margin-right: 0;
}

.contacts textarea {
  width: 96%;
}

.contacts input,
.contacts textarea {
  padding: 15px 22px;

  color: #ffffff;
  opacity: 0.7;

  background-color: #7f9d64;
  border: 1px solid #ffffff;
}

.contacts input::placeholder,
.contacts textarea::placeholder {
  color: #ffffff;
}

.contacts button {
  padding: 10px 45px;
  margin-top: 57px;

  color: #7f9d64;
  font-weight: bold;

  background-color: #ffffff;
  border: none;
  border-radius: 3px;
}

@media (min-width: 768px) and (max-width: 1919px) {
  .contacts {
    padding-top: 72px;
    padding-bottom: 80px;
  }

  .contacts h2 {
    font-size: 30px;
  }

  .contacts__tablet-form {
    display: flex;
    justify-content: space-between;
  }

  .contacts__inputs {
    min-width: 40%;
  }

  .contacts input {
    display: block;
    width: 100%;
  }

  .contacts textarea {
    width: 46%;
    height: 177px;
  }

  .contacts button {
    margin-top: 35px;
    margin-bottom: 90px;
  }
}

@media (min-width: 340px) and (max-width: 767px) {
  .contacts {
    padding-bottom: 72px;
    padding-top: 51px;
    margin-top: 58px;
  }

  .contacts h2 {
    font-size: 24px;
  }

  .contacts input,
  .contacts textarea {
    width: 84%;
    margin-right: 0;
  }

  .contacts textarea {
    height: 100px;
  }

  .contacts p {
    margin-top: 20px;
    margin-bottom: 38px;

    font-size: 14px;
  }
}
