.elevator-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding-left: 0;

  list-style-type: none;
}

.elevator-list li {
  position: relative;

  margin-bottom: 30px;
  min-width: 400px;
  margin-left: 5px;
  margin-right: 5px;
}

.elevator-list__link {
  position: absolute;
  content: "";
  top: 20px;
  left: 20px;

  display: block;
  width: 50px;
  height: 20px;

  color: #ffffff;
  font-size: 22px;

  z-index: 3;
}

.elevator-list__pic {
  position: absolute;
  content: "";
  bottom: 40px;
  left: 20px;

  display: block;
  width: 39px;
  height: 21px;

  color: #ffffff;

  z-index: 3;
}

.elevator-list__bg {
  position: relative;
}

.elevator-list__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.39);

  width: 100%;
  height: 100%;

  z-index: 2;
}

.elevator-list__bg img {
  display: block;
  min-height: 100%;
}

@media (min-width: 768px) and (max-width: 1919px) {
  .elevator-list li {
    margin-bottom: 20px;
    min-width: 200px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .elevator-list__bg img {
    max-width: 245px;
    max-height: 200px;
  }

  .elevator-list__link {
    font-size: 15px;
  }
}

@media (min-width: 340px) and (max-width: 767px) {
  .elevator-list {
    display: block;
  }

  .elevator-list li {
    min-width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .elevator-list__bg img {
    width: 100%;
    min-height: 80%;
  }
}
