.footer {
  display: block;
}

.footer__list a {
  color: #222222;
  text-decoration: none;
}

.footer__block {
  background-color: rgba(232, 222, 186, 0.28);
  border-bottom: 1px solid #e4e4e4;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__rights {
  display: flex;
  justify-content: space-between;

  padding-top: 25px;
  padding-bottom: 30px;
}

.footer__rights p {
  margin: 0;
}
