.header {
  display: flex;
  justify-content: space-between;
}

.header__lang {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.header__settings p {
  font-weight: bold;
  font-size: 22px;
}

.header__green {
  color: #69a54d;
}

.header__lang p {
  font-weight: normal;
}
