.header {
  display: flex;
  justify-content: space-between;
}

.header__lang {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.header__settings p {
  margin-top: 10px;

  font-weight: bold;
  font-size: 22px;
}

.header__ru {
  padding-right: 5px;

  border-right: 1px solid #e4e4e4;
}

.header__green {
  color: #69a54d;
}

.header__green--mail {
  margin-top: 63px;

  font-size: 20px;
}

.header__lang p {
  margin-left: 40px;
  margin-bottom: 10px;

  font-weight: normal;
}

.header__burger {
  display: none;
}

.header__choose {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media (min-width: 768px) and (max-width: 1919px) {
  .header__info p {
    max-width: 210px;
    padding-right: 10px;

    text-align: right;
    font-size: 20px;
    line-height: 23px;
  }
}

@media (min-width: 340px) and (max-width: 767px) {
  .header__info p {
    display: none;
  }

  .header__phone {
    display: none;
  }

  .header__lang {
    display: block;

    text-align: right;
  }
}

@media (min-width: 340px) and (max-width: 1919px) {
  .header__burger {
    display: block;
    margin: 38px 20px;
  }

  .header__green--mail {
    display: none;
  }

  .header__choose p {
    margin-right: 5px;

    font-size: 14px;
  }

  .header__lang a {
    font-size: 14px;
  }

  .header__logo {
    width: 79px;
    height: 69px;
    margin-top: 15px;
  }
}
