.header {
  display: flex;
  justify-content: space-between;
}

.header__lang {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.header__settings p {
  margin-top: 10px;

  font-weight: bold;
  font-size: 22px;
}

.header__ru {
  padding-right: 5px;

  border-right: 1px solid #e4e4e4;
}

.header__green {
  color: #69a54d;
}

.header__green--mail {
  margin-top: 63px;

  font-size: 20px;
}

.header__lang p {
  margin-left: 40px;
  margin-bottom: 10px;

  font-weight: normal;
}

.header__burger {
  display: none;
}

@media (min-width: 768px) and (max-width: 1919px) {
  .header__green--mail {
    display: none;
  }

  .header__info p {
    max-width: 210px;

    text-align: right;
    font-size: 20px;
    line-height: 23px;
  }
}

@media (min-width: 340px) and (max-width: 1919px) {
  .header__burger {
    display: block;
    margin: 50px 40px;
  }
}
