.location {
  padding-top: 42px;
  padding-bottom: 42px;
}

.location__item {
  max-width: 280px;
}

@media (min-width: 768px) and (max-width: 1919px) {
  .location__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 305px;
  }

  .location__item:last-child {
    max-width: 100%;
  }

  .location__item p {
    margin-left: 20px;

    font-size: 14px;
  }
}
