.navigation {
  background-color: #7f9d64;
}

.navigation--index {
  background-color: #809ba5;
}

.navigation p {
  font-size: 26px;
}

.navigation__list {
  display: flex;
  justify-content: space-between;

  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 0;

  list-style-type: none;
}

.navigation__list a {
  color: #ffffff;
}
