.news-list {
  display: flex;
  justify-content: space-between;

  padding-left: 0;

  list-style-type: none;
}

.news-list h3 {
  max-width: 375px;

  font-size: 22px;
  color: #69a54d;
}

.news-list__date {
  font-size: 14px;
  color: #cac1a0;
}

.news-list__desc {
  max-width: 475px;
}

@media (min-width: 768px) and (max-width: 1919px) {
  .news-list h3 {
    max-width: 340px;

    font-size: 18px;
  }

  .news-list__desc {
    max-width: 350px;

    font-size: 14px;
  }

  .news-list li:nth-child(3) {
    display: none;
  }

  .news-list img {
    max-width: 360px;
  }
}
