.pagination {
  display: flex;
  align-items: center;

  padding-left: 0;
  margin: 47px 30px 95px;

  list-style-type: none;
}

@media (min-width: 340px) and (max-width: 767px) {
  .pagination {
    flex-wrap: wrap;
  }
}
