.presentation {
  color: #ffffff;

  background-color: #809ba5;
  background-image: url("../../img/index-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.presentation p {
  max-width: 685px;

  text-align: center;
}
