.container {
  max-width: 1100px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 721px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}
