@import "normalize.scss";
@import "visually-hidden.scss";
@import "container.scss";
@import "overlay.scss";
@import "blocks/header.scss";
@import "blocks/header-menu.scss";
@import "blocks/navigation.scss";
@import "blocks/breadcrumps.scss";
@import "blocks/nav-list.scss";
@import "blocks/main.scss";
@import "blocks/presentation.scss";
@import "blocks/slider.scss";
@import "blocks/agriculture.scss";
@import "blocks/elevator-list.scss";
@import "blocks/agriculture-list.scss";
@import "blocks/boilers.scss";
@import "blocks/boilers-list.scss";
@import "blocks/news-list.scss";
@import "blocks/news-header.scss";
@import "blocks/production-list.scss";
@import "blocks/goods.scss";
@import "blocks/goods-album.scss";
@import "blocks/goods-desc.scss";
@import "blocks/characteristics.scss";
@import "blocks/catalog-item.scss";
@import "blocks/tab.scss";
@import "blocks/pagination.scss";
@import "blocks/pages.scss";
@import "blocks/footer-menu.scss";
@import "blocks/location.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";

body {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 16px;
  color: #222222;


  letter-spacing: 0;
  line-height: 30px;
  box-sizing: border-box;
}
